* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0px;
}
#header {
  background: rgb(253, 253, 253);
  background: linear-gradient(
    180deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 235, 237, 1) 100%
  );
}
#header .container {
  display: flex;
  justify-content: space-between;
  margin: 0 25%;
  padding: 30px 0;
}

#header ul {
  padding-top: 60px;
}

#header li {
  display: inline;
  list-style: none;
  padding: 10px;
}
#header a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #2e5369;
}

#header a:hover {
  color: #b8bad8;
}

#footer {
  background-color: #e9ebed;
  font-size: 12px;
  color: #9999a0;
}

#footer a {
  color: #9999a0;
}

#footer .container {
  margin: 0 25%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#footer li {
  list-style: none;
}

.footerhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footerhead a:hover {
  color: #dfd6be;
}

.footerhead ul {
  padding: 0;
}

.footerhead li {
  padding: 7px 0px;
  align-items: flex-start;
}

.footercontent {
  display: flex;
  flex-direction: column;
}

.footercontent a {
  padding: 8px 8px;
}

.footercontent ul {
  display: flex;
  padding: 7px;
}

#footertop a {
  text-decoration: none;
}

#footertop {
  display: flex;
}

#footerbottom p {
  margin: 15px 0;
}
#footerbottom a {
  text-decoration: none;
  padding: 0 8px 0 0;
}

#footerbottom ul {
  padding: 0;
  display: flex;
  padding-top: 8px;
}

#main {
  margin: 60px 23% 60px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#main h2 {
  font-size: 26px;
  font-weight: 700;
}

#main h3 {
  font-size: 20px;
  font-weight: 700;
}

#leftnav {
  border: 2px solid #f0f0f0;
  border-radius: 0.5em;
  background-color: #fcfcfc;
  width: 600px;
  margin-right: 30px;
}

#leftnav ul {
  list-style: none;
  margin-top: 10px;
  padding: 0 4px;
}

#leftnav h2 {
  font-size: 14px;
  padding: 10px 10px 10px 4px;
  background-color: #f4f3f9;
}

#leftnav li:hover {
  background-color: #f4f3f9;
}

#leftnav a {
  text-decoration: none;
  color: inherit;
}

#leftnav li {
  padding: 1px 0;
}

#main p {
  padding-top: 25px;
}

#main span {
  color: #886102;
  background-color: #ffe3a0;
  border: 1px solid white;
  border-radius: 4px;
}

#main th {
  border-bottom: 2px solid #5eb9e6;
  background-color: white;
}

#main table {
  border-bottom: 2px solid #5eb9e6;
  border-collapse: collapse;
  background-color: #fcfcfc;
  margin-top: 25px;
}

#main h3 {
  padding-top: 25px;
}

#content {
  display: flex;
  flex-direction: column;
}
